<header class="header">Employee List</header>
<div class="btn"></div>
<div>
  <table mat-table class="mat-elevation-z8">
    <thead>
      <tr mat-header-row>
        <ng-container>
          <th mat-header-cell>Employee ID</th>
          <th mat-header-cell>Name</th>
          <th mat-header-cell>Age</th>
          <th mat-header-cell>Department</th>
          <th mat-header-cell>Department</th>
          <th mat-header-cell>Address</th>
          <th mat-header-cell>Salary</th>
        </ng-container
        >
      </tr>
    </thead>
    <tbody>
      <tr mat-header-row *ngFor="let item of employeeList">
        <ng-container>
          <td mat-cell>{{ item.id }}</td>
          <td mat-cell>{{ item.empname }}</td>
          <td mat-cell>{{ item.empage }}</td>
          <td mat-cell>{{ item.department }}</td>
          <td mat-cell>{{ item.address.country }}</td>
          <td mat-cell>{{ item.salary }}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
