.header{
  height: 80px;
  background-color: rgb(24, 77, 221);
  color: white;
  text-align: center;
  font-size: xx-large;
}
.btn{
  height: 40px;
  background-color: rgb(10, 40, 121);
  color: white;
  text-align: center;
  font-size: large;
  border: none;
}
.btn button {
  height: 40px;
  background-color: rgb(10, 40, 121);
  color: white;
  text-align: center;
  font-size: large;
  border: none;
}

.table{
  width: 100%;
}

