.heading{
  height: 60px;
  color: white;
  background-color: rgb(154, 246, 195);
  align-items: center;
}
.heading a{
  color: rgb(64, 0, 255);
  margin: 1px 0 0 100px;
  font-size: larger;
  margin-top: 10px;
}
