<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="./students.js"></script>
    <script id="users" type="text/template">
      <% if (names.length) { %>
        <ul>
          <% names.forEach(function(name){ %>
            <li><%= name %></li>
          <% }) %>
        </ul>
      <% } %>
    </script>
    <script>
      onload = function () {
        var users = document.getElementById("users").innerHTML;
        var names = ["loki", "tobi", "jane"];
        var html = ejs.render(users, { names: names });
        document.body.innerHTML = html;
      };
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
</html>
